<sw-card
        :title="$tc('wbp-product-tabs.general.title')"
        class="wbp_product_tabs_list_toolbar_wrapper">

    {% block wbp_product_tabs_list_toolbar %}

        <div class="sw-configuration-option-list__toolbar">

            {% block wbp_product_tabs_list_toolbar_container %}

                <sw-container
                        columns="1fr minmax(50px, 100px) minmax(50px, 1250px)"
                        gap="0 10px">

                    {% block wbp_product_tabs_list_toolbar_buttons %}
                        <sw-button
                                class="product-tabs-add-new-tab-button"
                                @click="addNewTab()"
                        >
                            {{ $tc('wbp-product-tabs.general.add-new-tab') }}
                        </sw-button>

                    {% endblock %}

                </sw-container>

            {% endblock %}

        </div>

    {% endblock %}

    <sw-data-grid
            class="sw-product-tabs__data-grid"
            :dataSource="dataSource"
            :columns="columns"
            :showSelection="false"
            :showSettings="true"
    >
        {% block wbp_product_tabs_position %}

            <template
                    slot="column-position"
                    slot-scope="{ item }"
            >
                <span>{{ item.position }}</span>
                <div class="product-tabs-arrow-block">
                    <span
                            class="product-tabs-arrow"
                            v-if="item.position >= 3 && item.position < dataSource.length"
                            @click="positionUp(item)">
                       &dArr;
                    </span>
                    <span
                            class="product-tabs-arrow"
                            v-if="item.position > 3"
                            @click="positionDown(item)">
                        &uArr;
                    </span>
                </div>

            </template>

        {% endblock %}

        {% block wbp_product_tabs_is_enabled %}
            <template
                    slot="column-isEnabled"
                    slot-scope="{ item }"
            >
                <template>
                    <sw-icon
                            v-if="item.isEnabled === 1"
                            name="small-default-checkmark-line-medium"
                            small
                            class="is--active"
                            @click="changeVisibility(item)"
                    />
                    <sw-icon
                            v-else-if="item.isEnabled === 0"
                            name="small-default-x-line-medium"
                            small
                            class="is--inactive"
                            @click="changeVisibility(item)"
                    />
                    <sw-icon
                            v-else
                            key="inherit-icon"
                            :multicolor="true"
                            name="custom-inherited"
                            size="16"
                    />
                </template>
            </template>
        {% endblock %}

        <template #actions="{ item }">


            {% block sw_integration_list_grid_inner_slot_columns_actions_edit %}
                <sw-context-menu-item @click="onEdit(item)"
                                      v-if="item.position > 2"
                >
                    {{ $tc('wbp-product-tabs.general.edit') }}
                </sw-context-menu-item>

            {% endblock %}

            {% block sw_integration_list_grid_inner_slot_columns_actions_delete %}
                <sw-context-menu-item
                        v-if="item.position > 2"
                        class="-download-center-file__delete-action"
                        variant="danger"
                        @click="showDeleteModal = item.id"
                >

                    {{ $tc('wbp-product-tabs.general.delete') }}
                </sw-context-menu-item>
            {% endblock %}

            {% block sw_integration_list_grid_inner_slot_columns_actions_impossible %}
                <sw-context-menu-item v-else
                >
                    {{ $tc('wbp-product-tabs.general.impossible') }}
                </sw-context-menu-item>
            {% endblock %}

        </template>

        <template #action-modals="{ item }">
            {% block sw_integration_list_grid_inner_slot_delete_modal %}
                <sw-modal
                        variant="small"
                        v-if="showDeleteModal === item.id"
                        @modal-close="onCloseDeleteModal"
                >
                    {% block sw_integration_list_grid_inner_slot_delete_modal_confirmtext %}
                        <p>
                            {{ $tc('wbp-product-tabs.general.delete') }}&nbsp;{{ item.tabsName }}
                        </p>
                    {% endblock %}

                    {% block sw_integration_list_grid_inner_slot_delete_modal_footer %}
                        <template slot="modal-footer">
                            <sw-button
                                    size="small"
                                    @click="onCloseDeleteModal"
                            >
                                {{ $tc('wbp-product-tabs.general.cancel') }}
                            </sw-button>

                            <sw-button
                                    size="small"
                                    variant="danger"
                                    @click="onConfirmDelete(item)"
                            >
                                {{ $tc('wbp-product-tabs.general.delete') }}
                            </sw-button>
                        </template>
                    {% endblock %}
                </sw-modal>
            {% endblock %}
        </template>

    </sw-data-grid>

    {% block sw_product_tabs_modal_generation %}
        <wbp-product-tabs-modal-generation
                v-if="activeModal === 'addNewTab'"
                :productId="product.id"
                :item="editItem"
                @close-modal="CloseActiveModal()"
                @product-tabs-save="productTabsSave"
        />
    {% endblock %}


</sw-card>