<sw-card title="Tabs" class="wbp_product_tabs_list_toolbar_wrapper">

    {% block wbp_product_tabs_list_toolbar %}

        <div class="sw-configuration-option-list__toolbar">

            {% block wbp_product_tabs_list_toolbar_container %}

                <sw-container
                        columns="1fr minmax(50px, 100px) minmax(50px, 1250px)"
                        gap="0 10px"
                >

                    {% block wbp_product_tabs_list_toolbar_buttons %}
                        <sw-button
                                @click="addNewTab()"
                        >
                            Add New Tabs
                        </sw-button>

                    {% endblock %}

                </sw-container>

            {% endblock %}

        </div>

    {% endblock %}

    <sw-data-grid
            class="sw-product-tabs__data-grid"
            :dataSource="dataSource"
            :columns="columns"
            :show-selection="false"
    >
        {% block wbp_product_tabs_is_enabled %}
            <template
                    slot="column-isEnabled"
                    slot-scope="{ item }"
            >
                <template>
                    <sw-icon
                            v-if="item.isEnabled === 1"
                            name="small-default-checkmark-line-medium"
                            small
                            class="is--active"
                            @click="changeVisibility(item)"
                    />
                    <sw-icon
                            v-else-if="item.isEnabled === 0"
                            name="small-default-x-line-medium"
                            small
                            class="is--inactive"
                            @click="changeVisibility(item)"
                    />
                    <sw-icon
                            v-else
                            key="inherit-icon"
                            :multicolor="true"
                            name="custom-inherited"
                            size="16"
                    />
                </template>
            </template>
        {% endblock %}


        {% if(item.tabsName != 'Reviews' and item.tabsName != 'Description') %}
        <template #actions="{ item }">

            {% block sw_integration_list_grid_inner_slot_columns_actions_edit %}
                <sw-context-menu-item @click="onEdit(item)">
                    Edit
                </sw-context-menu-item>

            {% endblock %}

            {% block sw_integration_list_grid_inner_slot_columns_actions_delete %}
                <sw-context-menu-item
                        class="-download-center-file__delete-action"
                        variant="danger"
                        @click="showDeleteModal = item.id"
                >

                    Delete
                </sw-context-menu-item>
            {% endblock %}

        </template>

        {% endif %}

        <template #action-modals="{ item }">
            {% block sw_integration_list_grid_inner_slot_delete_modal %}
                <sw-modal
                        variant="small"
                        v-if="showDeleteModal === item.id"
                        @modal-close="onCloseDeleteModal"
                >
                    {% block sw_integration_list_grid_inner_slot_delete_modal_confirmtext %}
                        <p>
                            DELETE TAB
                        </p>
                    {% endblock %}

                    {% block sw_integration_list_grid_inner_slot_delete_modal_footer %}
                        <template slot="modal-footer">
                            <sw-button
                                    size="small"
                                    @click="onCloseDeleteModal"
                            >
                                Cancel
                            </sw-button>

                            <sw-button
                                    size="small"
                                    variant="danger"
                                    @click="onConfirmDelete(item)"
                            >
                                Delete
                            </sw-button>
                        </template>
                    {% endblock %}
                </sw-modal>
            {% endblock %}
        </template>

    </sw-data-grid>

    {% block sw_product_tabs_modal_generation %}
        <wbp-product-tabs-modal-generation
                v-if="activeModal === 'addNewTab'"
                :productId="product.id"
                @close-modal="activeModal = ''"
                @product-tabs-save="productTabsSave"
        />
    {% endblock %}


</sw-card>